<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Daily Expenses</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
    }

    body {
      background-image: url("https://cdn.pixabay.com/photo/2015/04/28/12/29/white-743495__340.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .List {
      background-color: #f09d9d;
    }


    body {
      background: #F3F3F3;
    }

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background-color: #EEE;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main .list {
      width: 100%;
      max-width: 768px;
      background-color: #FFF;
      border: 1px solid #CCC;
      margin-top: 25px;
    }

    main .list .item {
      padding: 15px;
      border-bottom: 1px solid #CCC;
    }

    main .list .item:last-of-type {
      border-bottom: none;
    }

    main .list .item:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    .pagenumbers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .pagenumbers button {
      width: 50px;
      height: 50px;

      appearance: none;
      border: none;
      outline: none;
      cursor: pointer;

      background-color: #44AAEE;

      margin: 5px;
      transition: 0.4s;

      color: #FFF;
      font-size: 18px;
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    }

    .pagenumbers button:hover {
      background-color: #44EEAA;
    }

    .pagenumbers button.active {
      background-color: #44EEAA;
      box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Day to Day Expenses</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li id="details" class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://localhost:3000/details">All Details</a>
          </li>
        </ul>
        <a class="text-decoration-none btn btn-outline-dark text-white me-4" href="/user/sign-up">Sign Up</a>
        <a class="text-decoration-none btn btn-outline-dark text-white me-2" href="/user/login">Log In</a>
        <button id="rzp-button" class="btn btn-outline-primary btn-warning me-2">Buy Premium</button>
      </div>
    </div>
  </nav>



  <div id="premium" class="container-fluid"></div>
  <!-- <button id="details" class="col-md-1 btn btn-outline-dark" >Details</button> -->


  <h1 class="display-5 text-center text-primary">Add Expenses:</h1>

  <div class="row mt-4 justify-content-center">
    <div class="col-sm-4 ">
      <form onsubmit="saveToDatabase(event)">

        <label class="text-dark fw-bold" for="expenseAmount">*Expense Amount:</label>
        <input class="form-control mb-3 border-warning border-3" type="number" name="expenseAmount" id="expenseAmount"
          required>

        <label class="text-dark fw-bold" for="description">*Description:</label>
        <input class="form-control mb-3 border-warning border-3" type="text" name="description" id="description"
          required>

        <label class="fw-bold text-dark" for="category">*Choose Category:</label>
        <select class="form-control border-warning border-3 " name="category" id="category" required>
          <option value="Grocery">Grocery</option>
          <option value="Electronics">Electronics</option>
          <option value="Food">Food</option>
          <option value="Movies">Movies</option>
          <option value="Garments">Garments</option>
          <option value="Medicines">Medicines</option>
          <option value="Others">Others</option>
        </select>
        <button class="btn btn-outline-dark btn-info mt-2">Add Expense</button>

      </form>
    </div>


    <div id="leaderBoard1" class="col-sm-4">
      <div id="leaderBoard"></div>
      <ol id="lboard"></ol>
    </div>
  </div>


  <!-- <h3 class="text-dark ms-5 fst-italic">All Expense(s):</h3>
  <ol id="exp" class="text-center"></ol> -->


  <header>
    <h1 class="text-center">List of Expenses:</h1>
  </header>

  <main>
    <ol class="list text-center" id="list"></ol>
    <div class="pagenumbers" id="pagination"></div>
  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



  <script>


    function saveToDatabase(event) {
      event.preventDefault();

      const token = localStorage.getItem('token');
      const expenses = {
        expenseAmount: event.target.expenseAmount.value,
        description: event.target.description.value,
        category: event.target.category.value,

      };


      axios.post('http://localhost:3000/user/add-daily-expenses', expenses, { headers: { "Authorization": token } })
        .then((response) => {

          showExpensesOnScreen(response.data);
        })
        .catch((err) => {

        })


    }
    function PremiumUserTitle(premiumUser) {
      document.getElementById('premium').innerHTML = `<h5 class="text-center text-success  bg-warning">Hi ${premiumUser.data.name}, ${premiumUser.data.message}</h5>`
      document.getElementById('rzp-button').style.visibility = "hidden";




    }


    window.addEventListener('DOMContentLoaded', () => {
      let token = localStorage.getItem('token');
      async function get() {
        try {
          let getResponse = await axios.get("http://localhost:3000/user/all-expenses", { headers: { "Authorization": token } });
          DisplayList(getResponse.data, list_element, rows, current_page);
          SetupPagination(getResponse.data, pagination_element, rows);

          let premiumUser = await axios.get('http://localhost:3000/premium-user', { headers: { "Authorization": token } });
          console.log(premiumUser);
          if (premiumUser.status === 200) {
            PremiumUserTitle(premiumUser);
            showLeaderBoard();

          }
          else {
            document.getElementById('details').style.visibility = "hidden"
          }

        }
        catch (err) {
          document.body.innerHTML += `<h5 class="text-center">1st ON REFRESH:something went wrong::ref${err}</h5>`


        }

      }
      get();


    });
    function showExpensesOnScreen(item) {


      document.getElementById("expenseAmount").value = "";
      document.getElementById("description").value = "";
      document.getElementById("category").value = "";



      let child = `<li id=${item.id} class="mt-2 border border-warning rounded bg-light">${item.expenseAmount}---${item.description}--${item.category}<button class="btn btn-outline-danger ms-5" onclick=deleteExpense('${item.id}')>Delete</button></li>`
      // item_element.innerText=item;


      document.getElementById('list').innerHTML += child;

    }
    function deleteExpense(expId) {
      const token = localStorage.getItem('token');
      if (confirm(`Are you sure to delete this Expense?`) === true) {
        async function deleted() {
          try {
            let res = await axios.delete(`http://localhost:3000/user/expenses/delete/${expId}`, { headers: { "Authorization": token } })
            removeFromScreen(expId);
          }
          catch (err) {
            document.body.innerHTML += `<h3 class="text-center">1st ON delete:something went wrong::ref${err}</h3>`

          }

        }
        deleted();


      }

    }
    function removeFromScreen(expId) {
      const parent = document.getElementById("list");
      const child = document.getElementById(expId);
      if (child) {
        parent.removeChild(child);


      }
    }



    //for razorpay:--->
    document.getElementById('rzp-button').onclick = async function (e) {
      try {
        const token = localStorage.getItem('token');
        const response = await axios.get('http://localhost:3000/user/purchase/premium-membership', { headers: { "Authorization": token } });

        var options = {
          "key": response.data.key_id,
          "order_id": response.data.order.id,
          //this handler function handle payment success
          "handler": async function (response) {

            await axios.post('http://localhost:3000/user/purchase/updateTrasactionStatus', {
              order_id: options.order_id,
              payment_id: response.razorpay_payment_id
            },
              {
                headers: { "Authorization": token }

              });

            alert('you are a premium user now!');
            showLeaderBoard()


            document.getElementById('premium').innerHTML = `<h5 class="text-center text-success bg-warning">You are A Premium User</h5>`
            document.getElementById('rzp-button').style.visibility = "hidden";


          }

        }

        const rzp1 = new Razorpay(options);
        rzp1.open();
        e.preventDefault();
        rzp1.on('payment.failed', async function (response) {
          try {
            await axios.post('http://localhost:3000/user/purchase/updateTrasactionStatusFailed', {
              order_id: options.order_id,
              payment_id: response.razorpay_payment_id
            },
              {
                headers: { "Authorization": token }

              });

            alert('something went wrong')
          }
          catch (err) {

          }
        })
      }
      catch (err) {
        console.log(err.response.data.message);
        document.body.innerHTML += `<h5 class="text-center text-danger">Error:${err.response.data.message}</h5>`
      }

    }

    //for leader-board:-->
    function showLeaderBoard() {
      const inputElem = document.createElement("input");
      inputElem.type = "button";
      // inputElem.className="btn"
      inputElem.value = 'Show Leader Board:';

      inputElem.onclick = async function () {
        try {
          const token = localStorage.getItem('token');
          let resp = await axios.get('http://localhost:3000/premium/leader-board', { headers: { "Authorization": token } })
          console.log("leader board----->>>", resp.data);

          resp.data.forEach(data => {
            console.log(data);
            showLeaderBoardOnScreen(data);
          })

        }
        catch (err) {

        }
      }

      document.getElementById("leaderBoard").appendChild(inputElem);


    }

    function showLeaderBoardOnScreen(data) {
      let parentElem = document.getElementById('lboard');
      let childElem = `<li class=" text-center text-primary bg-warning fw-bold mt-2 border border-warning border-2 rounded ">Name: ${data.name} & Total_Expenses: ${data.totalExpenses} ₹ </li>`;
      parentElem.innerHTML += childElem;
    }

    //pagination:
    const list_element = document.getElementById('list');
    const pagination_element = document.getElementById('pagination');

    let current_page = 1;
    let rows = parseInt(prompt("enter row per page"))

    function DisplayList(items, wrapper, rows_per_page, page) {
      wrapper.innerHTML = "";
      page--;

      let start = rows_per_page * page;//starting index
      let end = start + rows_per_page;//ending index+1
      let paginatedItems = items.slice(start, end);//list 0f items per page

      for (let i = 0; i < paginatedItems.length; i++) {
        let item = paginatedItems[i];//each item
        showExpensesOnScreen(item)



        //<div class="item">item</div>//item=each item
        // let child =`<li id=${item.id}>${item.amount}---${item.description}---${item.category}</li>`
        // item_element.innerText=item;


        // wrapper.appendChild(child);
        // wrapper.innerHTML+=child;
      }
    }

    function SetupPagination(items, wrapper, rows_per_page) {
      wrapper.innerHTML = "";

      let page_count = Math.ceil(items.length / rows_per_page);//no of page/buttons
      for (let i = 1; i < page_count + 1; i++) {
        let btn = PaginationButton(i, items);
        wrapper.appendChild(btn);
      }
    }

    function PaginationButton(page, items) {
      let button = document.createElement('button');
      button.innerText = page;//ex-1,2,3,4...

      if (current_page == page) button.classList.add('active');

      button.addEventListener('click', async function () {
        const token = localStorage.getItem('token');
        const resp = await axios.get('http://localhost:3000/user/all-expenses', { headers: { "Authorization": token } })
        current_page = page;
        DisplayList(resp.data, list_element, rows, current_page);

        let current_btn = document.querySelector('.pagenumbers button.active');
        current_btn.classList.remove('active');

        button.classList.add('active');
      });

      return button;
    }



  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>